ion-header {
  ion-title {
    padding-right: 0;
    padding-left: 10px;
  }
  ion-searchbar {
    padding: 0 12px 0 30px;
    height: 44px;
  }
  ion-segment {
    font-size: 14px;
    margin: 10px 0;
  }
}
