<ion-tabs>

  <ion-tab-bar [hidden]="!state" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="apps"></ion-icon>
      <ion-label>主页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="document">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>公文</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meeting">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>会议</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>日程</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
