<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="/assets/slider/01.jpg">
      <h2>广州时尚周</h2>
    </ion-slide>
    <ion-slide>
      <img src="/assets/slider/02.jpg">
      <h2>幸福晚晴春晚</h2>
    </ion-slide>
    <ion-slide>
      <img src="/assets/slider/03.jpg">
      <h2>媒体港国庆节日亮化</h2>
    </ion-slide>
    <ion-slide>
      <img src="/assets/slider/04.jpg">
      <h2>广州质量月启动仪式暨四十年四十品</h2>
    </ion-slide>
    <ion-slide>
      <img src="/assets/slider/05.jpg">
      <h2>广州文交会</h2>
    </ion-slide>
    <ion-slide>
      <img src="/assets/slider/06.jpg">
      <h2>全国网站平台知识技能竞赛半决赛</h2>
    </ion-slide>
  </ion-slides>
  <ion-grid class="menu-list">
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="danger" name="md-mail"></ion-icon>
          </div>
          <div class="menu-item-label">待办</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="warning" name="md-mail-unread"></ion-icon>
          </div>
          <div class="menu-item-label">待阅</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="success" name="md-mail-open"></ion-icon>
          </div>
          <div class="menu-item-label">已办</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="primary" name="md-calendar"></ion-icon>
          </div>
          <div class="menu-item-label">会议</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="secondary" name="md-notifications"></ion-icon>
          </div>
          <div class="menu-item-label">公告</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="danger" name="md-browsers"></ion-icon>
          </div>
          <div class="menu-item-label">日程</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="success" name="md-text"></ion-icon>
          </div>
          <div class="menu-item-label">企信</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="menu-item">
          <div class="menu-item-icon">
            <ion-icon color="dark" name="md-bookmark"></ion-icon>
          </div>
          <div class="menu-item-label">专栏</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      我的会议
      <ion-text [routerLink]="['/pages/meeting']" color="danger">查看更多</ion-text>
    </ion-list-header>
    <ion-item *ngFor="let item of meetings;let i = index" detail [lines]="i === meetings?.length - 1 ? 'none' : ''">
      <ion-avatar slot="start">
        <ion-icon color="danger" name="contacts"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{item.topic}}</h3>
        <p>{{item.addr}}</p>
      </ion-label>
      <ion-note>
        <ion-text>
          <ion-text *ngIf="item.status === '1'" color="danger">待上会</ion-text>
          <ion-text *ngIf="item.status === '2'" color="success">开会中</ion-text>
          <ion-text *ngIf="item.status === '3'" color="secondary">已上会</ion-text>
          <ion-text *ngIf="item.status === '9'" color="warning">已暂停</ion-text>
          <p *ngIf="item.startTime">{{item.startTime | date : 'yyyy-MM-dd HH:mm'}}</p>
        </ion-text>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      通知公告
      <ion-text [routerLink]="['/pages/notice']" color="danger">查看更多</ion-text>
    </ion-list-header>
    <ion-item [routerLink]="['/pages/notice/item',item.noticeInfoId]" *ngFor="let item of notices;let i = index" detail [lines]="i === notices?.length - 1 ? 'none' : ''">
      <ion-avatar slot="start">
        <ion-text [ngStyle]="{'background-color':'var(--ion-color-' + item.color + ')'}">{{item.userName.slice(0, 1)}}</ion-text>
      </ion-avatar>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.createTime | date : 'yyyy-MM-dd HH:mm'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      部门专栏
      <ion-text [routerLink]="['/pages/notice/dept']" color="danger">查看更多</ion-text>
    </ion-list-header>
    <ion-item *ngFor="let item of deptNotices;let i = index" detail [lines]="i === deptNotices?.length - 1 ? 'none' : ''">
      <ion-avatar slot="start">
        <ion-text [ngStyle]="{'background-color':'var(--ion-color-' + item.color + ')'}">{{item.issueDep.slice(0, 1)}}</ion-text>
      </ion-avatar>
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.createTime | date : 'yyyy-MM-dd HH:mm'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
