ion-content {
  --background: #f8f8f8;
}
ion-list {
  margin: 12px 0;
  &.issue-list {
    ion-note {
      font-size: 12px;
      text-align: right;
      max-width: 50%;
      p {
        margin: 5px 0;
      }
    }
  }
}

mat-card {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
}
