ion-content {
  --background: #f8f8f8;

  ion-slides {
    ion-slide {
      img {
        display: block;
        height: 250px;
        width: 100%;
        object-fit: unset;
      }

      h2 {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        left: 15px;
        line-height: 22px;
        color: #fff;
        margin: 0;
        z-index: 99;
      }
    }

    &::ng-deep {
      .swiper-pagination {
        bottom: 0;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.5);
        --bullet-background: #fff;
        padding: 0 10px 4px 15px;

        .swiper-pagination-bullet {
          opacity: 0.5;
        }
      }
    }
  }

  mat-card {
    box-shadow: none;
    .mat-card-image {
      margin-bottom: 0;
    }
  }
}
app-comment {
  margin-top: 10px;
  display: block;
}
app-reply {
  padding: 15px;
}
